.p-item-section--container1{
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
}

.p-item-section--container2{
    display: flex;
    justify-content: space-between;
}

.p-item-section--container3{
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
}